In [61]:
import pandas as pd
def create_date_table2(start='1900-01-01', end='2050-12-31'):
    df = pd.DataFrame({"Date": pd.date_range(start, end)})
    df["Day"] = df.Date.dt.weekday_name
    df["Week"] = df.Date.dt.weekofyear
    df["Quarter"] = df.Date.dt.quarter
    df["Year"] = df.Date.dt.year
    df["Year_half"] = (df.Quarter + 1) // 2
    df["Month Name"]=(df.Date.dt.month)
    df["Day_of_Year"]=(df.Date.dt.dayofyear)
    df['MonthName']=(df.Date.dt.month_name())
    #Month, Month Name, Quarter, Week of Year, Week of Month, Day, Day of Week, Day of Year, Day Name
    return df

In [62]:
df=create_date_table2()
df.head(3)

,Date,Day,Week,Quarter,Year,Year_half,Month Name,Day_of_Year,MonthName
0,1900-01-01,Monday,1,1,1900,1,1,1,January
1,1900-01-02,Tuesday,1,1,1900,1,1,2,January
2,1900-01-03,Wednesday,1,1,1900,1,1,3,January

In [63]:
df.tail(3)

,Date,Day,Week,Quarter,Year,Year_half,Month Name,Day_of_Year,MonthName
55149,2050-12-29,Thursday,52,4,2050,2,12,363,December
55150,2050-12-30,Friday,52,4,2050,2,12,364,December
55151,2050-12-31,Saturday,52,4,2050,2,12,365,December

In [29]:
is_today=s['Date']=='2020-05-27'

In [30]:
s[is_today]

            Date        Day  Week  Quarter  Year  Year_half
43976 2020-05-27  Wednesday    22        2  2020          1